html {
	font-size: 20px;
}
h1 {
	border-bottom: solid 3px rgb(115,115, 114);
	text-shadow: 2px 2px 4px gray;
	letter-spacing: 1.2em;
	font-size: 2rem;
	font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal
}
.blue {
    color: skyblue;
}
.pink {
	color: rgb(255, 192, 203);
}
body {
	font-family:"Arial","Meiryo", sans-serif;
	text-align: center;
}
div {
	font-weight: bold;
}
