header {
	margin-bottom: 20px;
	background-color: rgb(244, 79, 79);
	margin-left: auto;
	margin-right: auto;
}
h1 {
	margin: 0px;
	color: rgb(255, 255, 255);
}
main {
	margin: 10px;
}
#parent {
	display: flex;
	justify-content: space-around;
}
.contents {
	border: 3px;
	color: rgb(238, 204, 204);
	flex-basis: 25%;
	padding: 10px 15px;
	margin: 20px 0px;
	align-items: center;
}
h2 {
	font-size: 25px;
	border-bottom: dotted;
	border-bottom: 3px;
	border-bottom: rgb(236, 111, 139);
	::before
}