#top {
    width: 800px;
    background-color: #dcc9f4;
    margin-top: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.top-child {
    display: inline-block;
    width: 20%;
    background-color: #ffd9df;
}
#middle {
	position: relative;
    width: 800px;
    height: 800px;
    margin: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd9df;
}
#middle-child01 {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 100px;
	left: 100px;
	background-color: #87ceeb;
}
#middle-child02 {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 300px;
	left: 300px;
	background-color: #87ceeb;
}
#middle-child03 {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 500px;
	left: 500px;
	background-color: #87ceeb;
}
#bottom {
	width: 800px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: #87ceeb;
}
#bottom-child01 {
	width: 400px;
	height: 100px;
	background-color: #e5dcf0;
}
#bottom-child02 {
	position: relative;
	left: 200px;
	width: 400px;
	height: 100px;
	background-color: #e5dcf0;
}
#bottom-child03 {
	position: relative;
	left: 400px;
	width: 400px;
	height: 100px;
	background-color: #e5dcf0;
}

